body {
  background-image: url(./static/images/background.jpg);
}

.navbar {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  background: #9BA3EB;
  color: white;
}

.navbar--left {
  margin-right: auto;
}

.logoimg {
  height:40px;
}
.navbar--right {
  margin-left: auto;
  display: flex;
  position: relative;
}

.navbar--right > img {
  height: 24px;
  padding-top: 50%;
}

.notificationNumber {
  position: absolute;
  margin-top: 1px;
  margin-left:13px;
}

.column-wrapper {
  display: flex;
}

.column {
  float:left;
  column-width: 33vw;
  text-align: center;
  margin-top: 10px;
}

.chatitem {
  text-align: left;
  background-color: #DBDFFD;
  padding-left:  3px;
  border-radius: 5px;
  position: relative;
  border-style:solid;
  border-width: 1px;
  margin:  5px auto  5px auto;
  width: 400px;
}

.chatitem > h4 {
  margin-bottom: 0px;
  margin-left: 5px;
  margin: 5px;
}

.chatImg {
  max-height: 20px;
  position: absolute;
  top:50%;
  left: 90%;
  margin-left: auto;
}

.chatmsg {
  display: flex;
  margin-left: 5px;
}

.inputchat {
  border-style: solid;
  border-radius: 7px;
  background-image: none;
  border-color: #9BA3EB;
  margin-bottom: 4px;
}

.postitem {
  width: 400px;
  background-color: #9BA3EB;
  border-radius: 5px;
  border-style:solid;
  border-width: 1px;
  margin: 5px auto  5px auto;
  color: white;
}

.postitem > h4 {
  margin: 5px;
  margin-bottom: 20px;
}

.inputfeed {
  border-style: solid;
  border-radius: 7px;
  background-image: none;
  border-color: #DBDFFD;
  margin-bottom: 7px;
}

.like {
  height: 40px;
}

.navigationdiv {
  width: 400px;
  background-color: #6876f3;
  border-radius: 5px;
  border-style:solid;
  border-width: 1px;
  margin: 5px auto  5px auto;
  color: white;
}




@media only screen and (max-width: 1300px)  {
  .column-wrapper {
    display: inline;
  }

  .column {
    column-width: 100vw;
  }
  .chatitem {
    width: 90vw;
  }

  .postitem {
    width: 90vw;
  }

  .navigationdiv {
    width: 90vw;
  }
  .navbar {
    width: 110vw;
  }
}